%btn-circle {
  align-items: center;
  background: $purple;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: 4rem;
  justify-content: center;
  transition: $transition;
  width: 4rem;

  &:hover {
    box-shadow: $box-shadow;
  }

  .aph-icon {
    .icon {
      height: 1rem;
    }

    path {
      fill: white;
    }
  }
}

%btn-outline {
  background: transparent;
  border-radius: $border-radius;
  border: $border;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: toRem(16px);
  height: $button-height;
  outline: none;
  padding: toRem(14px) 0;
  text-align: center;
  transition: $transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background: $purple;
    box-shadow: $box-shadow;
    color: white;
  }

  &.disabled, &:disabled {
    background: $purple;
    color: white;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

%btn-square {
  background: white;
  border-radius: $border-radius;
  border: none;
  color: $purple;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: GilroyMedium;
  height: toRem(175px);
  transition: $transition;
  width: toRem(175px);

  .aph-icon {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    svg {
      height: 3rem;
    }

    .fill {
      fill: $purple;
      transition: $transition;
    }

    .stroke {
      stroke: $purple;
      transition: $transition;
    }
  }

  p {
    font-size: toRem(16px);
    margin: $space 0;
    text-align: center;
  }

  &:hover {
    background: $purple;
    color: white;

    .aph-icon {
      .fill {
        fill: white;
      }

      .stroke {
        stroke: white;
      }
    }
  }
}

%btn-footer {
  background: $purple;
  color: white;
  cursor: pointer;
  font-family: GilroyMedium;
  font-size: toRem(16px);
  height: $button-height;
  line-height: $button-height;
  padding: 0 $space * 1.2;
  text-align: center;
  transition: $transition;
}

%btn-footer-light {
  @extend %btn-footer;

  background: $light-grey;
  color: $dark;
}
