%btn-circle {
  align-items: center;
  background-color: $purple;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: inline-flex;
  height: toRem(69px);
  justify-content: center;
  transition: $transition;
  width: toRem(69px);

  &:hover {
    background-color: $purple-hover;
  }

  .aph-icon {
    .icon {
      height: toRem(20px);
    }

    path {
      fill: white;
    }
  }
}

%btn {
  background-color: $purple;
  border-radius: $border-radius;
  border: $border-thin;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: toRem(16px);
  height: $button-height;
  outline: none;
  padding: toRem(16px);
  text-align: center;
  transition: $transition;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  &:hover {
    background: $purple-hover;
  }

  &.disabled, &:disabled {
    border-color: white;
    color: white;
    cursor: not-allowed;
  }
}

%btn-outline {
  @extend %btn;

  background-color: transparent;
  color: white;

  &:hover {
    background-color: $purple;
    color: white;
  }

  &.disabled, &:disabled {
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: not-allowed;
  }
}

%btn-square {
  background-color: white;
  border-radius: $border-radius;
  border: none;
  color: $purple;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: GilroyMedium;
  height: toRem(175px);
  outline: none;
  transition: $transition;
  width: toRem(175px);

  .aph-icon {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    svg {
      height: toRem(42px);

      &.create {
        height: toRem(50px);
      }
    }

    .fill {
      fill: $dark;
      transition: $transition;
    }

    .stroke {
      stroke: $purple;
      transition: $transition;
    }
  }

  p {
    font-size: toRem(16px);
    margin: $space 0;
    text-align: center;
  }

  &:hover {
    background-color: $purple;
    color: white;

    .aph-icon {
      .fill {
        fill: white;
      }

      .stroke {
        stroke: white;
      }
    }
  }

  &.disabled, &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

%btn-footer {
  background-color: $purple;
  color: white;
  cursor: pointer;
  font-family: GilroyMedium;
  font-size: toRem(16px);
  height: $button-height;
  line-height: $button-height;
  outline: none;
  padding: 0 $space * 1.2;
  text-align: center;
  transition: $transition;
  border: none;

  &:hover {
    background-color: $purple-hover;
  }

  &.disabled, &:disabled {
    background-color: $background;
    color: $grey;
    cursor: not-allowed;
  }
}

%btn-footer-light {
  @extend %btn-footer;

  background-color: $background;
  color: $dark;

  &:hover {
    background-color: $background;
  }
}
