@font-face {
  font-family: 'Gilroy';
  src: url('~@/assets/fonts/Gilroy-Regular.otf');
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('~@/assets/fonts/Gilroy-Medium.otf');
}

@font-face {
  font-family: 'GilroySemibold';
  src: url('~@/assets/fonts/Gilroy-SemiBold.otf');
}

@font-face {
  font-family: 'FreeMono';
  src: url('~@/assets/fonts/FreeMono.ttf');
}
