@font-face {
  font-family: 'Gilroy';
  src: url('~@/assets/fonts/Gilroy-Regular.otf');
}

@font-face {
  font-family: 'GilroyMedium';
  src: url('~@/assets/fonts/Gilroy-Medium.otf');
}

@font-face {
  font-family: 'GilroySemibold';
  src: url('~@/assets/fonts/Gilroy-SemiBold.otf');
}

@font-face {
  font-family: 'FreeMono';
  src: url('~@/assets/fonts/FreeMono.ttf');
}

@font-face {
  font-family: 'Proxima';
  src: url('~@/assets/fonts/Proxima Nova Reg.otf');
}

@font-face {
  font-family: 'ProximaMedium';
  src: url('~@/assets/fonts/Proxima Nova Sbold.otf');
}

@font-face {
  font-family: 'ProximaSemibold';
  src: url('~@/assets/fonts/Proxima Nova Sbold.otf');
}
