@import "~normalize.css/normalize";

@import 'functions';
@import 'mixins';
@import 'variables';

@import 'buttons';
@import 'fonts';
@import 'print';
@import 'alerts';
@import 'tiles';
@import 'type';

html, body {
  font-family: Gilroy;
  font-size: $font-size;
  height: 100%;
  line-height: 1;
}
