@import "~normalize.css/normalize";

@import 'functions';
@import 'mixins';
@import 'variables';

@import 'buttons';
@import 'fonts';
@import 'type';

html, body {
  font-family: Gilroy;
  font-size: $font-size;
  height: 100%;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  background: $purple;
}

* {
  letter-spacing: $letter-spacing;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
