#authenticated-wrapper {
  &.Night {
    #dex {
      color: $copy-night;
      background-color: $background-night-light;

      .aph-dex-input input, .aph-input input {
        color: white;
      }

      .aph-select {
        .aph-select--dropdown {
          background: $background-night-light;
          border-color: $select-border-night;
          color: $copy-night;

          > li {
            &.selected, &:hover {
              background-color: $purple;
              color: white;
            }
          }
        }
      }

      .aph-select.is-light {
        .aph-select--label {
          background: $background-night-light;
          color: white;
        }

        .fill {
          fill: white;
        }
      }

      .aph-icon {
        .fill {
          fill: white;
        }
      }

      .asks {
        .size-bar {
          background-color: #5b2f40 !important;

          &.size-total {
            background-color: #441e35 !important;
          }
        }
      }

      .bids {
        .size-bar {
          background-color: #3b5459 !important;

          &.size-total {
            background-color: #233c40 !important;
          }
        }
      }

      #dex--orderform .body .side .buy-btn, #dex--orderform .body .footer .order-btn.buy-btn {
        border-color: #3b5459;
      }

      #dex--orderform .body .side .buy-btn.selected, #dex--orderform .body .footer .order-btn.buy-btn:hover {
        background-color: #233c40;
      }

      #dex--orderform .body .side .sell-btn, #dex--orderform .body .footer .order-btn.sell-btn {
        border-color: #5b2f40;
      }

      #dex--orderform .body .side .sell-btn.selected, #dex--orderform .body .footer .order-btn.sell-btn:hover {
        background-color: #441e35;
      }

      .aph-modal-wrapper {
        background: rgba(206, 205, 509, 0.35);

        & > .content {
          background-color: #1d1c31;
        }
      }

      .spinner-container {
        background: rgba(206, 205, 509, 0.2);
      }

      %disabled-text {
        color: #404156;
      }

      %selected-text {
        color: white;
      }

      %light-background {
        background: $background-night;
        border-color: $background-night;
      }

      %tile-light {
        background: $background-night;
      }
    }
  }
}
