@media print {

  #login {
    .left {
      display: none;
    }
  }
  .copy-link {
    display: none;
  }
  .btn-group {
    display: none!important;
  }
  #sidebar, #portfolio-header {
    display: none;
  }
  #backup-wallet {
    width: auto;
  }
}
