$dark: #19193A;
$green: #62DAA6;
$grey: #B5B5CA;
$hover-purple: #A75BF6;
$light-grey: #F9F9FD;
$purple: #742BF0;
$red: #F75261;
$softer-dark: #424258;
$orange: #FF9800;

$border-width: 3px;
$border: $border-width solid $purple;
$border-radius: 4px;

$box-shadow: 0px 0px 20px 0px rgba($purple, .10);

$font-size: 14px;

$letter-spacing: 1.5px;
$line-height: 150%;

$space: 1rem;
$space-xsm: $space * .25;
$space-sm: $space * .5;
$space-lg: $space * 2;
$space-xl: $space * 4;

$transition: all .3s ease-in-out;

$button-height: $space * 3;
$input-height: $space * 3;

$left-sidebar-width: toRem(300px);
$right-sidebar-width: toRem(400px);
