$dark: #19193A;
$green: #62DAA6;
$grey: #B5B5CA;
$hover-purple: #A75BF6;
$purple: #742BF0;
$red: #F75261;
$softer-dark: #424258;
$light-grey: lighten($grey, 20%);

$border: 2px solid $purple;
$border-radius: 3px;

$box-shadow: 0px 0px 20px 5px rgba($purple, .30);

$font-size: 1rem;
$font-size-xsm: 1rem * .75;
$font-size-sm: 1rem * .875;
$font-size-lg: 1rem * 1.125;
$font-size-xl: 1rem * 1.5;

$line-height: 150%;

$space: 1rem;
$space-xsm: $space * .25;
$space-sm: $space * .5;
$space-lg: $space * 2;
$space-xl: $space * 4;

$transition: all .1s linear;
