// Colors
$background: #EEEEF9;
$border-grey: #EEEEFA;
$dark: #1A193B;
$darker-grey: #66688D;
$green: #00E18A;
$grey: #B5B5CA;
$light-grey: #F4F4FC;
$orange: #FF9800;
$purple-hover: #8139FF;
$purple: #752BF7;
$dark-purple: #171629;
$red: #FF2F54;
$softer-dark: #424258;

$border-radius: 4px;
$border-width-thick: toRem(5px);
$border-width-thin: toRem(2px);
$border-width: toRem(3px);
$border: $border-width solid $purple;
$border-thin: $border-width-thin solid $purple;
$box-shadow-lg: toRem(0px) toRem(15px) toRem(150px) toRem(40px) rgba($purple, 0.1);
$box-shadow-sm: toRem(0px) toRem(10px) toRem(20px) toRem(10px) rgba($purple, 0.1);
$box-shadow: toRem(0px) toRem(10px) toRem(40px) toRem(5px) rgba($purple, 0.05);
$breakpoint-height: 900px;
$breakpoint: 1500px;
$button-height: toRem(52px);
$copy-line-height: 150%;
$input-height: toRem(52px);
$left-sidebar-width: toRem(300px);
$letter-spacing: toRem(1.5px);
$right-sidebar-width: toRem(400px);
$space: $font-size;
$space-lg: $space * 2;
$space-sm: $space * .5;
$space-xl: $space * 4;
$space-xs: $space * .25;
$space-xxl: $space * 6;
$transition-fast: .1s ease-in-out;
$transition: .3s ease-in-out;
